/* Resets */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  scroll-behavior: smooth;
  min-width: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img,
svg,
picture,
video {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

body {
  min-height: 100vh;
  min-height: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
:has(:target) {
  scroll-margin-top: 3rem;
}

/* Global Fonts */
:root {
  --ff-primary: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, z szsFira Sans, Droid Sans, Helvetica Neue,
    PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, sans-serif;
  --ff-accent: serif;
}

/* Global Font Sizes */
:root {
  --fs-100: 0.625rem; /* 10px */
  --fs-200: 0.75rem; /* 12px */
  --fs-250: 0.8125rem; /* 13px */
  --fs-300: 0.875rem; /* 14px */
  --fs-400: 1rem; /* 16px */
  --fs-450: 1.25rem; /* 20px */
  --fs-500: 1.375rem; /* 22px */
  --fs-600: 1.5rem; /* 24px */
  --fs-650: 1.75rem; /* 28px */
  --fs-700: 2rem; /* 32px */
  --fs-800: 2.25rem; /* 36px */
  --fs-900: 3.125rem; /* 50px */
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: 300;
}

/* Gloal Colors */
:root {
  --clr-text: #ffffff;
  --clr-primary: #a17c5b;
  --clr-accent: #0f4643;
  --clr-accent-transparent: #0f464340;
  --clr-landing-hover: #c2dfe9;
  --clr-lightblue: #829fa9;
  --clr-offwhite: #ddcabc;
  --clr-white: #ffffff;
  --clr-black: #000000;
}

/* Global Settings */
:root {
  --padding-inline: 6rem;
  --transition: all 0.2s ease-in-out;
}

body {
  color: var(--clr-text);
}

@media (max-width: 991px) {
  :root {
    --padding-inline: 3.125rem;
  }
}
@media (max-width: 768px) {
  :root {
    --padding-inline: 3.5625rem;
  }
}
.lazy-img {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.0666666667) 33%, rgba(0, 0, 0, 0.168) 50%, rgba(0, 0, 0, 0.0666666667) 66%) #f2f2f2;
  background-size: 300% 100%;
  animation: l1 1s infinite linear;
}

@keyframes l1 {
  0% {
    background-position: right;
  }
}
@media (min-width: 1600px) {
  :root {
    --padding-inline: calc(50vw - 750px);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header .primary-nav {
  height: 5.125rem;
  padding-inline: 1.5rem;
  background: linear-gradient(180deg, #829fa9 5.26%, rgba(130, 159, 169, 0.844444) 24.78%, rgba(130, 159, 169, 0.75) 49.33%, rgba(130, 159, 169, 0.5) 67.67%, rgba(130, 159, 169, 0) 100%);
  transition: background 0.3s ease-in-out;
}
header .primary-nav:hover {
  background: #fff;
  color: var(--clr-black);
}
header .primary-nav:hover .logo {
  color: var(--clr-black);
}
header .primary-nav:hover .logo svg * {
  fill: var(--clr-primary);
}
header .primary-nav:hover .logo span::before {
  background: var(--clr-black);
}
header .primary-nav:hover .link svg * {
  fill: var(--clr-black);
}
header .primary-nav:hover .hamburger-wrapper .hamburger svg * {
  fill: var(--clr-primary);
}
header .primary-nav:hover .cta {
  background: var(--clr-primary);
  color: var(--clr-white);
  border: none;
}
header .primary-nav .nav-list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
header .primary-nav .nav-list > li {
  font-size: var(--fs-300);
}
header .primary-nav .link {
  display: none;
  position: relative;
}
header .primary-nav .link .expand-tabs.open {
  display: flex;
}
header .primary-nav .link .expand-tabs {
  display: none;
  position: absolute;
  bottom: -0.5rem;
  translate: 0 100%;
  left: 0;
  width: -moz-max-content;
  width: max-content;
  background: var(--clr-white);
  padding: 0.625rem 1.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 100;
  flex-direction: column;
}
header .primary-nav .link .expand-tabs h3 {
  margin-bottom: 0.125rem;
  padding: 0.625rem 1rem;
  color: var(--clr-black);
  text-transform: uppercase;
  font-weight: 500;
}
header .primary-nav .link .expand-tabs li {
  font-size: var(--fs-300);
  color: var(--clr-primary);
  padding: 0.625rem 1rem;
  cursor: pointer;
}
header .primary-nav .link .expand-tabs li:not(:last-child) {
  border-bottom: 1px solid rgba(154, 154, 154, 0.5490196078);
}
header .primary-nav .link .expand-tabs li.active {
  color: var(--clr-black);
  font-weight: 500;
}
header .primary-nav .link .expand-tabs li:hover {
  color: #767676;
}
header .primary-nav .nav-list > li button {
  background: none;
  border: none;
  padding: none;
}
header .primary-nav input[type=checkbox] {
  display: none;
}
header .primary-nav .hamburger svg {
  width: 1rem;
  height: 1rem;
  translate: 0 -1px;
  cursor: pointer;
}
header .primary-nav .logo {
  margin-right: auto;
}
header .primary-nav .logo a {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
header .primary-nav .logo svg {
  aspect-ratio: 1/1;
  width: 0.875rem;
}
header .primary-nav .logo svg * {
  fill: var(--clr-white);
}
header .primary-nav .logo span {
  position: relative;
  font-size: var(--fs-200);
  letter-spacing: 0.7px;
}
header .primary-nav .logo span::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -0.75rem;
  width: 1px;
  height: 120%;
  background: var(--clr-white);
}
header .primary-nav .cta {
  padding: 0.5rem;
  border: 1px solid var(--clr-primary);
  background: var(--clr-white);
  border-radius: 0.25rem;
  color: var(--clr-primary);
  font-size: var(--fs-200);
  font-weight: 400;
  cursor: pointer;
}
header .primary-nav .hamburger:hover,
header .primary-nav .cta:hover {
  filter: brightness(1.2);
}
@media (min-width: 768px) {
  header .primary-nav {
    height: 5.375rem;
  }
  header .primary-nav .hamburger svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  header .primary-nav .logo svg {
    width: 1.125rem;
  }
  header .primary-nav .logo span {
    font-size: var(--fs-400);
  }
  header .primary-nav .cta {
    padding: 0.625rem 0.9375rem;
  }
}
@media (min-width: 991px) {
  header .primary-nav {
    height: 8rem;
    padding-inline: var(--padding-inline);
    background: linear-gradient(180deg, #829fa9 5.26%, rgba(130, 159, 169, 0.844444) 24.78%, rgba(130, 159, 169, 0.75) 49.33%, rgba(130, 159, 169, 0.5) 67.67%, rgba(130, 159, 169, 0) 100%);
  }
  header .primary-nav .nav-list {
    gap: 2.5rem;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 1.875rem;
  }
  header .primary-nav .hamburger-wrapper {
    position: absolute;
    top: 5rem;
    left: var(--padding-inline);
  }
  header .primary-nav .hamburger-wrapper svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  header .primary-nav .cta-wrapper {
    position: absolute;
    top: 5rem;
    right: var(--padding-inline);
  }
  header .primary-nav .cta {
    padding: 0.625rem 1.5625rem;
    border-color: var(--clr-white);
    background: transparent;
    color: var(--clr-white);
  }
  header .primary-nav .logo a {
    gap: 0.75rem;
  }
  header .primary-nav .logo a svg {
    width: 1.5rem;
  }
  header .primary-nav .logo a span {
    font-size: 1.125rem;
  }
  header .primary-nav .logo a span::before {
    content: none;
  }
  header .primary-nav .link {
    display: block;
  }
  header .primary-nav .link,
  header .primary-nav .link a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  header .primary-nav .link > span,
  header .primary-nav .link svg {
    cursor: pointer;
  }
  header:hover .hamburger-wrapper .hamburger svg * {
    fill: var(--clr-primary);
  }
  header:hover .cta {
    background: var(--clr-primary);
    color: var(--clr-white);
    border: none;
  }
}
header .page-overlay-bg {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease-in-out;
}
header #page-prevent-click {
  position: fixed;
  inset: 0;
  opacity: 0;
  display: none;
}
header button.close {
  background: none;
  border: none;
}
header .links-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 23.4375rem;
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
header .booking-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40.625rem;
  background-color: #faf8f3;
  border-radius: 0.5rem 0 0.5rem 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
header .booking-panel button.close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
@media (max-width: 991px) {
  header .booking-panel {
    width: 100%;
    border-radius: 0;
  }
}

header:has(.cta-wrapper input:checked) .page-overlay-bg {
  opacity: 1;
}
header:has(.cta-wrapper input:checked) #page-prevent-click {
  display: block;
}
header:has(.cta-wrapper input:checked) .booking-panel {
  transform: translate(0);
}

header:has(.hamburger-wrapper input:checked) .page-overlay-bg {
  opacity: 1;
}
header:has(.hamburger-wrapper input:checked) #page-prevent-click {
  display: block;
}
header:has(.hamburger-wrapper input:checked) .links-panel {
  transform: translate(0);
}

body:has(.hamburger-wrapper input:checked),
body:has(.cta-wrapper input:checked) {
  overflow: hidden;
  overflow: clip;
}

@media (min-width: 991px) {
  body:has(.landing .landing-nav:hover) .primary-nav {
    background: #fff;
    color: var(--clr-black);
  }
  body:has(.landing .landing-nav:hover) .primary-nav .logo {
    color: var(--clr-black);
  }
  body:has(.landing .landing-nav:hover) .primary-nav .logo svg * {
    fill: var(--clr-primary);
  }
  body:has(.landing .landing-nav:hover) .primary-nav .logo span::before {
    background: var(--clr-black);
  }
  body:has(.landing .landing-nav:hover) .primary-nav .link svg * {
    fill: var(--clr-black);
  }
  body:has(.landing .landing-nav:hover) .primary-nav .hamburger-wrapper .hamburger svg * {
    fill: var(--clr-primary);
  }
  body:has(.landing .landing-nav:hover) .primary-nav .cta {
    background: var(--clr-primary);
    color: var(--clr-white);
    border: none;
  }
}
.booking-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-primary);
  font-size: var(--fs-300);
}
.booking-panel .form-wrapper {
  width: 18.75rem;
}
.booking-panel .value {
  color: var(--clr-accent);
  font-size: var(--fs-300);
  font-weight: 500;
}
.booking-panel .form-group {
  margin-bottom: 0.5rem;
}
.booking-panel .form-group label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.booking-panel .form-group .input {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 3.375rem;
  padding: 0.5rem;
  border: 1px solid #ddcabc;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-inline: 1.1rem;
}
.booking-panel .form-group .input .value {
  font-size: var(--fs-250);
  font-weight: 400;
}
.booking-panel .form-group #choose-hotel {
  background: var(--clr-white);
}
.booking-panel .form-group #choose-hotel ul {
  display: none;
  position: absolute;
  left: 2%;
  bottom: -0.5rem;
  width: 96%;
  translate: 0 100%;
  z-index: 1;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  background: var(--clr-white);
  flex-direction: column;
  padding: 0.75rem 1.25rem;
  font-size: var(--fs-300);
}
.booking-panel .form-group #choose-hotel ul.open {
  display: flex;
}
.booking-panel .form-group #choose-hotel li {
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid #ddcabc;
}
.booking-panel .form-group #choose-hotel li.selected {
  color: var(--clr-accent);
}
.booking-panel .form-group--number {
  display: flex;
  padding-block: 0.625rem;
  gap: 0.75rem;
  align-items: center;
}
.booking-panel .form-group--number button {
  background: none;
  border: none;
  font-size: var(--fs-500);
  font-family: monospace;
  font-weight: 100;
  color: var(--clr-primary);
}
.booking-panel .form-group--number label {
  margin-right: auto;
}
.booking-panel .form-group--number.line {
  border-bottom: 1px solid #ddcabc;
}
.booking-panel button[type=submit] {
  margin-top: 2rem;
  width: 100%;
  padding: 0.875rem;
  background: var(--clr-primary);
  color: var(--clr-white);
  border: none;
  border-radius: 0.25rem;
  font-size: var(--fs-400);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.date-selector {
  z-index: 10;
  display: none;
  position: absolute;
  background: var(--clr-white);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
  top: 100%;
  margin-top: 0.5rem;
}
.date-selector.open {
  display: block;
}
.date-selector input {
  display: none;
}
.date-selector .month-picker {
  height: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-accent-transparent);
}
.date-selector .month-picker .month {
  font-weight: 500;
}
.date-selector .month-picker button {
  height: 100%;
  padding: 0.5rem 2rem;
  background: var(--clr-white);
  border: none;
  transition: var(--transition);
}
.date-selector .month-picker button:hover {
  filter: brightness(0.9);
}
.date-selector .date-picker {
  padding: 1rem;
  text-align: center;
}
.date-selector .date-picker > * {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25rem;
  place-items: center;
}
.date-selector .date-picker .date-name {
  font-weight: 500;
  margin-block: 0 1rem;
  color: var(--clr-accent-transparent);
}
.date-selector .date-picker .date li {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-white);
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
  border-radius: 999rem;
  transition: filter 0.2s ease;
}
.date-selector .date-picker .date li:not(.placeholder):hover {
  filter: brightness(0.9);
}
.date-selector .date-picker .date li.selected {
  background: var(--clr-primary);
  color: var(--clr-white);
}
.date-selector .date-picker .date .date-item.hide,
.date-selector .date-picker .date .placeholder.hide {
  display: none;
}

.links-panel {
  padding-top: 5rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.links-panel .links-panel-header {
  display: flex;
  justify-content: space-between;
  margin-inline: 1rem;
  padding-block: 1.5rem;
  border-bottom: 1px solid var(--clr-offwhite);
}
.links-panel .links-panel-header #close-links {
  width: 1.5rem;
  margin-left: auto;
}
.links-panel .links-panel-header #back-links {
  display: none;
  width: 1.5rem;
}
.links-panel .links {
  margin: 3rem 1rem 0 1rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;
}
.links-panel .main-link {
  color: var(--clr-primary);
  font-size: var(--fs-450);
  font-weight: 400;
}
.links-panel .selectable span {
  cursor: pointer;
  position: relative;
}
.links-panel .hidden-content {
  display: none;
  padding: 2rem 0.25rem;
}
.links-panel .hidden-content .title {
  font-size: var(--fs-400);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}
.links-panel .hidden-content .sub-links {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: var(--clr-black);
  font-size: var(--fs-450);
  font-weight: 300;
}
.links-panel .selectable > span::after {
  content: "";
  position: absolute;
  right: -2rem;
  top: 50%;
  border: solid var(--clr-black);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 0.3rem;
  transform: translateY(-50%) translate(-0.15rem) rotate(-45deg);
  transition: transform 0.2s ease-in-out;
}
.links-panel .selectable.selected .hidden-content {
  display: block;
}
.links-panel .selectable.selected > span::after {
  transform: translateY(-50%) translate(-0.15rem) rotate(45deg);
}
.links-panel:has(.selectable.selected) .links > *:not(.selectable.selected) {
  display: none;
}
.links-panel:has(.selectable.selected) #back-links {
  display: block;
}
.links-panel .secondary-links {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.links-panel .secondary-link {
  color: var(--clr-black);
  font-weight: 400;
}
.links-panel .panel-footer {
  margin-block: 2.75rem;
  margin-inline: 1rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
}
.links-panel .panel-footer a img {
  height: 2.5rem;
}
.links-panel .panel-footer .language-switch {
  display: none;
  color: var(--clr-black);
  align-items: center;
  margin-left: auto;
  gap: 1rem;
  font-size: var(--fs-300);
}
.links-panel .panel-footer .language-switch span {
  cursor: pointer;
  font-weight: 400;
}
@media (max-width: 991px) {
  .links-panel .links-panel-header {
    margin-inline: 0.5rem;
  }
  .links-panel .links {
    margin: 2rem 0.5rem 0 0.5rem;
  }
  .links-panel .hidden-content {
    padding: 1.5rem 0.25rem;
  }
  .links-panel .panel-footer {
    margin-block: 2rem;
    margin-inline: 0.5rem;
  }
  .links-panel .panel-footer .language-switch {
    display: flex;
  }
}

section.landing {
  position: relative;
}
section.landing img {
  width: 100%;
  height: 640px;
  background: black;
}
section.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 233px;
  top: 0;
  left: 0;
  background: linear-gradient(rgb(30, 30, 30) 0px, rgba(38, 38, 38, 0.65) 21.4%, rgba(39, 39, 39, 0.38) 56.32%, rgba(74, 74, 74, 0) 70.17%, rgba(85, 85, 85, 0.14) 83.72%, rgba(129, 129, 129, 0) 100%);
}
section.landing::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 296px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgb(30, 30, 30) 0px, rgba(38, 38, 38, 0.65) 21.4%, rgba(39, 39, 39, 0.38) 56.32%, rgba(74, 74, 74, 0) 70.17%, rgba(85, 85, 85, 0.14) 83.72%, rgba(129, 129, 129, 0) 100%);
}
section.landing h1 {
  position: absolute;
  top: 85%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  font-size: var(--fs-900);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.3;
  color: var(--clr-white);
}
section.landing .landing-nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5rem;
  z-index: 1;
}
section.landing .landing-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--padding-inline);
}
section.landing .landing-nav ul li a {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  gap: var(--fs-300);
  font-size: var(--fs-300);
}
section.landing .landing-nav ul li a svg {
  height: 2.875rem;
  width: 2.875rem;
}
section.landing .landing-nav ul li a:hover {
  color: var(--clr-landing-hover);
}
section.landing .landing-nav ul li a:hover svg * {
  fill: var(--clr-landing-hover);
}
@media (min-width: 991px) {
  section.landing .landing-nav {
    position: fixed;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 60vw;
    left: calc(3rem + var(--padding-inline));
    top: 5rem;
    z-index: 100;
  }
  section.landing .landing-nav ul {
    padding-inline: 0;
    max-width: -moz-max-content;
    max-width: max-content;
    gap: 3rem;
  }
  section.landing .landing-nav li {
    position: relative;
    display: flex;
    align-items: center;
  }
  section.landing .landing-nav li a:hover {
    color: var(--clr-lightblue) !important;
  }
  section.landing .landing-nav li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: calc(-1 * min(2.85vw, 1.5rem));
    top: 30%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 999%;
    background: var(--clr-landing-hover);
  }
  section.landing .landing-nav svg {
    display: none;
  }
}
@media (max-width: 991px) {
  section.landing .landing-nav {
    position: fixed;
    bottom: 0;
    background: var(--clr-white);
    box-shadow: rgba(0, 0, 0, 0.4) 0px -1px 4px 0px;
    color: #616161;
  }
  section.landing .landing-nav svg * {
    fill: #616161;
  }
  section.landing .landing-nav ul {
    padding-inline: 0;
    gap: 0rem;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  section.landing .landing-nav ul::-webkit-scrollbar {
    display: none;
  }
  section.landing .landing-nav ul li {
    flex-shrink: 0;
    padding: 1rem 1.625rem;
  }
  section.landing .landing-nav ul li a {
    font-size: var(--fs-200);
  }
  section.landing .landing-nav ul li a:hover {
    text-decoration: underline;
    color: #616161;
    filter: brightness(0.8);
  }
  section.landing .landing-nav ul li a:hover svg * {
    fill: #616161;
  }
}
@media (max-width: 768px) {
  section.landing img {
    height: 530px;
  }
}

@media (max-width: 991px) {
  body {
    padding-bottom: 106px;
  }
}
@media (min-width: 991px) {
  body:has(header:hover) .landing-nav {
    color: var(--clr-black);
  }
  body:has(header:hover) .landing-nav li:not(:last-child)::after {
    background: var(--clr-black);
  }
  .landing .landing-nav:hover {
    color: var(--clr-black);
  }
  .landing .landing-nav:hover ul li:not(:last-child)::after {
    background: var(--clr-black);
  }
  body:has(.hamburger-wrapper input:checked) .landing-nav,
  body:has(.cta-wrapper input:checked) .landing-nav {
    z-index: 10;
  }
}
.banner {
  --_width: min(56.3vw, 821px);
  background: rgba(15, 70, 67, 0.25);
  font-weight: 400;
  text-align: center;
  padding-block: 4.5rem;
}
.banner > * {
  width: var(--_width);
  margin-inline: auto;
}
.banner h2 {
  color: var(--clr-accent);
  position: relative;
  font-size: var(--fs-700);
  letter-spacing: 1px;
  line-height: 1.3125;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.banner h2::after {
  content: "";
  position: absolute;
  bottom: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  height: 2px;
  background: var(--clr-accent);
}
.banner p {
  color: var(--clr-black);
  margin-top: 1.5rem;
  font-size: var(--fs-300);
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
@media (max-width: 991px) {
  .banner {
    --_width: 100%;
    padding-inline: 2.5rem;
  }
}
@media (max-width: 768px) {
  .banner {
    padding-inline: 1rem;
  }
  .banner h2 {
    font-size: var(--fs-650);
  }
  .banner p {
    font-size: var(--fs-200);
  }
}

.offers {
  --padding-inline: calc(50vw - 600px);
  padding: 4.5rem var(--padding-inline);
}
.offers .title {
  text-align: center;
}
.offers .title h3 {
  font-size: var(--fs-700);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--clr-primary);
  margin-bottom: 1.5rem;
}
.offers .title p {
  display: none;
  line-height: 1.5;
  color: var(--clr-black);
  letter-spacing: 0.2px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.offers .filter-tab .mobile-display {
  display: none;
}
.offers .filter-tab .tabs {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.offers .filter-tab .tabs li {
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: #5a4132;
  letter-spacing: 0.2px;
  padding: 1rem;
  padding-bottom: 0.75rem;
}
.offers .filter-tab .tabs .active-bar {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 0px;
  height: 2px;
  background-color: var(--clr-black);
  z-index: 1;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.offers .filter-tab .tabs::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: calc(100% + 2rem);
  height: 2px;
  background-color: var(--clr-offwhite);
}
.offers .offers-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-block: 4.6rem;
}
.offers .offers-container .offers-col {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.offers .offers-container .push {
  margin-top: 4.5rem;
}
.offers .no-result {
  text-align: center;
  height: 100%;
  font-size: var(--fs-400);
  color: var(--clr-black);
}
.offers .no-result.hide {
  display: none;
}
.offers .offers-container:has(.no-result:not(.hide)) .offers-col {
  display: none;
}
@media (max-width: 768px) {
  .offers {
    padding-inline: 1rem;
  }
  .offers .title h3 {
    font-size: var(--fs-650);
  }
  .offers .title p {
    font-size: var(--fs-300);
  }
  .offers .filter-tab {
    position: relative;
    margin-inline: 1rem;
    padding: 1rem 0.75rem;
    border-top: 1px solid var(--clr-offwhite);
    border-bottom: 1px solid var(--clr-offwhite);
  }
  .offers .filter-tab .mobile-display {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--clr-black);
    font-size: var(--fs-200);
  }
  .offers .filter-tab .mobile-display .value {
    font-weight: 500;
    font-size: var(--fs-400);
  }
  .offers .filter-tab .mobile-display img {
    margin-left: auto;
    transition: var(--transition);
  }
  .offers .filter-tab .tabs {
    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition: 0.3s;
    transition-behavior: allow-discrete;
    position: absolute;
    width: calc(100% + 2rem);
    left: 50%;
    top: calc(100% + 0.5rem);
    border-radius: 0.5rem;
    translate: -50% 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    align-items: center;
    background-color: var(--clr-white);
  }
  .offers .filter-tab .tabs li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 7rem;
    height: 1px;
    translate: -50% 0;
    background-color: rgba(229, 229, 229, 0.5490196078);
  }
  .offers .filter-tab .tabs .active-bar {
    display: none;
  }
  .offers .tabs::after {
    display: none;
  }
  .offers .filter-tab.expand .mobile-display img {
    transform: rotate(180deg);
  }
  .offers .filter-tab.expand .tabs {
    opacity: 1;
    display: flex;
  }
  @starting-style {
    .offers .filter-tab.expand .tabs {
      opacity: 0;
    }
  }
  .offers .offers-container .offers-col:not(:first-child) {
    display: none;
  }
  .offers .offers-container .offers-col:first-child {
    margin-top: 0;
    gap: 4rem;
  }
}

.card-item .card-item-image-wrapper {
  width: 100%;
  border-top-right-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.card-item .card-item-tag {
  color: var(--clr-accent);
  font-size: var(--fs-300);
  line-height: 1.5;
  margin-bottom: 1rem;
}
.card-item .card-item-title {
  font-size: var(--fs-500);
  color: var(--clr-primary);
  line-height: 1.65;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.card-item .card-item-body {
  color: var(--clr-black);
  font-size: var(--fs-300);
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin-bottom: 1.5rem;
}
.card-item .card-item-btns {
  padding-block: 0.25rem;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-size: var(--fs-300);
  color: var(--clr-primary);
  font-weight: 400;
}
.card-item .card-item-btns::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: content-box;
  padding-right: 10px;
  width: 100%;
  height: 1px;
  background: var(--clr-primary);
}
.card-item .card-item-btns::after {
  content: "";
  position: absolute;
  border-color: var(--clr-primary) var(--clr-primary) transparent transparent;
  bottom: -2px;
  left: 100%;
  width: 5px;
  height: 5px;
  margin-left: 6px;
  border-width: 1px;
  border-style: solid;
  transform: rotate(45deg) scale(0.8);
}
@media (max-width: 768px) {
  .card-item .card-item-image-wrapper {
    margin-bottom: 0.5rem;
  }
  .card-item .card-item-tag {
    font-size: var(--fs-200);
    margin-bottom: 0.25rem;
  }
  .card-item .card-item-title {
    margin-bottom: 0.5rem;
  }
  .card-item .card-item-body {
    margin-bottom: 0.5rem;
  }
}

.banner-light {
  --_width: min(56.3vw, 821px);
  font-weight: 400;
  text-align: center;
  padding-block: 4.5rem;
}
.banner-light > * {
  width: var(--_width);
  margin-inline: auto;
}
.banner-light h2 {
  color: var(--clr-primary);
  position: relative;
  font-size: var(--fs-700);
  letter-spacing: 1px;
  line-height: 1.3125;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.banner-light h2::after {
  content: "";
  position: absolute;
  bottom: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  height: 1.5px;
  background: var(--clr-offwhite);
}
.banner-light p {
  color: var(--clr-black);
  margin-top: 1.5rem;
  font-size: var(--fs-300);
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.banner-light p a {
  font-size: var(--fs-200);
  color: var(--clr-lightblue);
}
@media (max-width: 991px) {
  .banner-light {
    --_width: 100%;
    padding-inline: 2.5rem;
  }
}
@media (max-width: 768px) {
  .banner-light {
    padding-inline: 1rem;
  }
  .banner-light h2 {
    font-size: var(--fs-650);
  }
  .banner-light p {
    font-size: var(--fs-200);
  }
  .banner-light p a {
    font-size: var(--fs-100);
  }
}

footer {
  height: 22.125rem;
  padding: 2.8125rem 7.5rem;
  background: rgb(250, 248, 243);
  color: var(--clr-accent);
}
footer .pages {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}
footer h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
}
footer .links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
footer .link-item {
  font-size: var(--fs-200);
}
footer button {
  background: none;
  padding: 0 1.5rem;
  border: none;
}
footer button svg {
  height: 1.5rem;
  width: 1.5rem;
}

@media (max-width: 991px) {
  footer {
    height: 32.125rem;
    padding: 3rem 2rem;
  }
  footer .pages {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  footer .address {
    grid-column: 1/-1;
    margin-bottom: 3rem;
  }
  footer .button {
    grid-column: 1/-1;
  }
  footer .button button {
    display: block;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  footer {
    height: 44.6875rem;
    padding: 3rem 1rem;
  }
  footer .pages {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-columns: 1fr 1fr;
  }
  footer .button {
    grid-column: 1/-1;
  }
  footer .button button {
    display: block;
    margin-left: 0;
    padding: 0;
  }
}
@media (min-width: 1600px) {
  footer {
    padding-inline: var(--padding-inline);
  }
}/*# sourceMappingURL=offers.css.map */